[init]
	defaultBranch = main
[pull]
	rebase = true
[credential]
	helper = store
[core]
	pager = delta
	fsmonitor = true
	untrackedcache = true
	editor = code --wait
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[user]
	name = Shaik Zahid
	email = shaikzahid0713@gmail.com
