inoremap jk <Esc>
inoremap kj <Esc>

let mapleader = " "

nmap z 0
nmap m $
nmap ; %

nmap df ggdG
nmap yf ggyG
nmap <CR> o<Esc>
nmap <S-Enter> O<Esc>

set number relativenumber
set idearefactormode=keep
set ideajoin
set ignorecase
set smartcase
set autoindent
set timeoutlen = 150

set which-key
let g:WhichKey_ShowVimActions = "true"
let g:WhichKey_DefaultDelay = 0

set NERDTree
map <C-p> :NERDTree<CR>
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

set surround
set highlightedyank
let g:highlightedyank_highlight_color = "rgba(172, 205, 218, 1)"
let g:highlightedyank_highlight_duration = 50

Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'

set easymotion
map f <Plug>(easymotion-bd-f)
map , <Plug>(easymotion-s)

" actions
nmap <Tab>          <action>(NextTab)
nmap <S-Tab>        <action>(PreviousTab)
nmap <leader>a      <action>(Run)
nmap <leader>cc     <action>(CloseEditor)
nmap <leader>co     <action>(CloseAllEditorsButActive)
nmap <leader>cp     <action>(CloseProject)
nmap <leader>cs     <action>(QuickChangeScheme)
nmap <leader>e      <action>(ActivateProjectToolWindow)
nmap <leader>g      <action>(GotoNextError)
nmap <leader>h      <action>(HideActiveWindow)
nmap <leader>i      <action>(Generate)
nmap <leader>l      <action>(ShowErrorDescription)
nmap <leader>m      <action>(Git.Menu)
nmap <leader>n      <action>(NewClass)
nmap <leader>o      <action>(OptimizeImports)
nmap <leader>q      <action>(Stop)
nmap <leader>r      <action>(ReformatCode)
nmap <leader>s      <action>(GlobalSettings)
nmap <leader>t      <action>(ActivateTerminalToolWindow)