body {
    margin: 0;
    background-color: black;
}

.top-container {
    height: 200px;
    width: 200px;
    background-color: aliceblue;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: orange;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
}