.content {
    background-color: #FFECEF;
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-container {
    background-color: green;
    width: 200px;
    height: 200px;
}